<div class="widget qos-widget" id="widgetLivegetSimpleLastVisitCount">
	<div class="widgetTop">
		<h3 class="widgetName">
			<span>{{ 'QoS_UserSpeed'|translate }}</span>
		</h3>
	</div>
	<div class="widgetContent ng-scope">
		<div class='simple-realtime-visitor-widget' data-refreshAfterXSecs="{{ refreshAfterXSecs }}" data-last-minutes="{{ lastMinutes }}" data-translations="{{ translations|json_encode }}">
			<div class='simple-realtime-visitor-counter' title="{{ user_speed }}{{ 'QoS_UserSpeed_Message'|translate(lastMinutes) | raw }}">
				<div>{{ user_speed }}</div>
			</div>
			<br/>

			<div class='simple-realtime-elaboration'>
				{{ 'QoS_UserSpeed_Message'|translate(lastMinutes) | raw }}
			</div>
		</div>
		<script type="text/javascript">$(document).ready(function () {require('piwik/QoS').initSimpleRealtimeVisitorWidget();});</script>
	</div>
</div>